
body {
	background-color: #800000;
	}

.navbar .nav  .center {
	float: center;
}

.table {
	display:table;
	margin: 0 auto;
	}

.table td{
	font-size: 75%
}
	
#pills {
	width: 100%;
	text-align: center;
}

#pills li {
	display: inline-block;
	float: none;
	}

/**
*
* CSS for the main body
*
**/
#main{
	background-color: #f2f2f2;
	font-family: "arial";
	position: absolute;
	left: 20px;
	right: 20px;
	bottom: 50px;
	top: 55px;
	text-align: center;
	font-size: 150%;
	border-radius: 25px;
	}
	
#main h1{
	background-color: white;
	border-radius: 25px 25px 0px 0px;
	text-align: center;
	padding: 0px;
	margin: 0px;
	}
	
#player_stats{
	width: 15%;
	height: 90%;
	float: left;
	margin-left: 10px;
	display: inline;
	font-size: 75%;
	}

#player_stats img{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 168px;
	height: 168px;
	}

#player_stats li{
	list-style: none;
	text-align: left;
	}

#trophy{
	background-color: white;
	margin-top: 20px;
	margin-right: 20px;
	font-family: "arial";
	width: 80%;
	float: right;
	text-align: center;
	font-size: 150%;
	border-radius: 25px;
	border: solid black;
	border-width: 1px;
	}

#trophy h1{
	border-bottom: solid black;
	border-width: 1px;
	}
		
#trophy img{
	display: inline;
	height: 160px;
	width: 160px;
	}




