
body {
	background-color: #800000;
	}

.navbar .nav  .center {
	float: center;
}

.table {
	display:table;
	margin: 0 auto;
	}
	
#pills {
	width: 100%;
}

#pills li {
	display: inline;
	float: center;
	}

/**
*
* CSS for the main body
*
**/
#main{
	background-color: #f2f2f2;
	font-family: "arial";
	border: 1px solid black;
	position: absolute;
	left: 20px;
	right: 20px;
	bottom: 50px;
	top: 55px;
	}
	
#main h1{
	background-color: white;
	border: 1px solid black;
	text-align: center;
	padding: 0px;
	}

#leaderboard{
	border-radius: 25px;
	position: absolute;
	background-color: white;
	margin: 5px;
	border: 1px solid black;
}





















