<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

{% extends 'zombie_search/Base.html' %}

{% block title %}Instructions{% endblock %}

{% block header %}Instructions{% endblock %}

{% block body %}
<p style="width: 75%;margin: auto">
<strong>Welcome to Zombie Search!<br />

Your journey starts when you awake to find that your neighbourhodo has been hit with a full-blown zombie apocalypes...<br /><br /></strong>

You will begin in front of a house. You can then use the buttons on the bottom of the screen to enter that house or move to one of the other houses on the street. Once in a house, you can search the rooms of the house to find food, ammo or new people to join your party...but be careful: you may also find a zombie!<br /><br />

If you find a zombie, you may choose to fight it or run, if you are running low on ammo, you may want to choose not to fight the zombie, but it will still be there ready to attack you of you try to re-enter that house!<br /><br />

On the top of the screen you can see your supplies as well as how many days have passed and how much time is left in this day- at the end of the day you will use one unit of food for each member of your party, and if you cannot feed everyone, some members will leave!<br /><br />

Plan your moves carefully, as each action takes up time within the day! The game ends when you run out of food or all members of your party are killed by zombies!<br /><br />
</p>
{% endblock %}