<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

{% load static %}

<html xmlns="http://www.w3.org/1999/xhtml" lang = "en">

<head>
	<!-- JQuery CSS-->
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
	<!-- Bootstrap -->
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen" />
	<link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet" />
	<link href="{% static 'css/base_style.css' %}" rel="stylesheet" />
	
	<title>Zombie Search-{% block title %}Zombie Search{% endblock %}</title>
</head>

<body>
<div class="navbar navbar-fixed-top container">
	<ul class="nav">
		{% if user.is_authenticated %}
			{% block profile_button %}<li><a href="/zombie_search/profile/{{ slug }}"><button type="button" class="btn btn-default navbar-btn">Your Profile</button></a></li>{% endblock %}
			<li><a href="{% url 'logout' %}"><button type="button" class="btn btn-default navbar-btn">Logout</button></a></li>
		{% else %}
			<li><a href="{% url 'login' %}"><button type="button" class="btn btn-default navbar-btn">Login</button></a></li>
			<li><a href="{% url 'register' %}"><button type="button" class="btn btn-default navbar-btn">Sign Up</button></a></li>
		{% endif %}
	</ul>
</div>

<div id="main">
	<h1>
		{% block header %} HOME {% endblock %}
	</h1>
	{% block body %}
	{% endblock %}
</div>

<div class="navbar navbar-fixed-bottom container">
	<ul id="sq">
		<li><a href="{% url 'home' %}"><button type="button" class="btn btn-default navbar-btn">Home</button></a></li>
		<li><a href="{% url 'about' %}"><button type="button" class="btn btn-default navbar-btn">Instructions</button></a></li>
		{% if user.is_authenticated %}
			<li><a href="{% url 'splash_screen' %}"><button type="button" class="btn btn-default navbar-btn">Play!</button></a></li>
		{% else %}
			<li><a id="please_login"><button type="button" class="btn btn-default navbar-btn">Play!</button></a></li>
		{% endif %}
	</ul>

</div>

<!-- JQuery -->
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="{% static 'js/zombie-jquery.js' %}"></script>
<!--Ajax-->
<script type="text/javascript" src="{% static 'js/leaderboard-ajax.js' %}"></script>

</body>
</html>
