<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

{% extends 'zombie_search/Base.html' %}

{% block title %}Home{% endblock %}

{% block header %}Leaderboard-{{this}}{% endblock %}
{% block body %}
	<table class = "table table-striped" style="width:90%; position:relative; top: 10px;">
		<tr>
		<th>Username</th>
		<th>Score</th>
		</tr>
		{% for user in top_ten %}
			<tr>
			<td><a href= "">{{ user.user.username }}</a></td>
			<td>{{ user.total_kills }}</td>			
			</tr>
		{% endfor %}
	</table>
	<a href="/zombie_search/{{ lefturl }}" style = "text-align: left; font-size: 60%">{{ leftname }}</a>
	<a href="/zombie_search/{{ righturl }}" style="width: 50%; text-align: right; font-size: 60%">{{ rightname }}</a>
{% endblock %}