<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

{% extends 'zombie_search/Base.html' %}

{% block title %}Home{% endblock %}

{% block header %}Leaderboard{% endblock %}
{% block body %}
	<h1>Leaderboard</h1>
		<ol>
			{% for users in totalKills %}
				<li><!-- link to user -->{% user %}</li>
			{% endfor %}
		</ol>
		<ol>
			{% for users in gameKills %}
				<li><!-- link to user -->{% user %}</li>
			{% endfor %}
		</ol>
		<ol>
			{% for users in totalDays %}
				<li><!-- link to user -->{% user %}</li>
			{% endfor %}
		</ol>
		<ol>
			{% for users in averageDays %}
				<li><!-- link to user -->{% user %}</li>
			{% endfor %}
		</ol>
{% endblock %}