{% extends 'zombie_search/Base.html' %}

{% load static %}

{% block title %}Login{% endblock %}

{% block header %}Login{% endblock %}

{% block body %}
<br />
{% if error %}
<small><strong>Username or Password were incorrect. Please check your details and try again.</strong></small>
{% endif %}
<br />
    <form id="login_form" method="post" action="/zombie_search/login/">
        {% csrf_token %}
         Username: <input type="text" name="username" value="" size="50" />
        <br />
        Password: <input type="password" name="password" value="" size="50" />
        <br />
        <input type="submit" value="submit" />
    </form>
{% endblock %}
