<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

{% extends 'zombie_search/Base.html' %}
{% load static %}
{% block title %}{{ player.user.username }}{% endblock %}

{% block header %}{{ player.user.username }}{% endblock %}

{% block body %}
<div id="player_stats">
	{% if player.profile_picture %}
		<img src="{{ player.profile_picture.url }}" alt= "{{ player.user.username }}'s profile picture" />
	{% else %}
		<img src="{% static 'img/default_profilepic.jpg' %}" alt="default profile pic" />
	{% endif %}
	
	<ul>
		<li><strong>Last Online:</strong></li>
		<li style="margin-top:10px"><strong>Games Played:</strong>{{ player.games_played }}</li>
		<li style="margin-top:10px"><strong>Largest Party Size:</strong>{{ player.most_people }}</li>
		<li style="margin-top:10px"><strong>Days Survived:</strong></li>
		<ul>
			<li><strong>Best:</strong>{{ player.most_days_survived }}</li>
			<li><strong>Average:</strong>{{ player.avg_days }}</li>
		</ul>
		<li style="margin-top:10px"><strong>Kills:</strong></li>
		<ul>
			<li><strong>Total:</strong>{{ player.total_kills }}</li>
			<li><strong>Best:</strong>{{ player.most_kills }}</li>
			<li><strong>Average:</strong></li>
		</ul>
</div>

<div id="trophy">
	<h1>Trophy Cabinet</h1>
	
	<div id="badge">
		<li><strong>Killer</strong></li>
		<li><img src="{{ killer.icon }}" alt="{{ killer.type }} trophy" /></li>
		<li>You have killed {{ killer.requirement }} zombies!</li>
		
	</div>
	
	<div id="badge">
		<li><strong>Stamina</strong></li>
		<li><img src="{{ stamina.icon }}" alt="{{ killer.type }} trophy" /></li>
		<li>You have played {{ stamina.requirement }} games!</li>
		
	</div>
	
	<div id="badge">
		<li><strong>Party</strong></li>
		<li><img src="{{ party.icon }}" alt="{{ killer.type }} trophy" /></li>
		<li>You have had {{ party.requirement }} members in your party at once</li>
		
	</div>
	
	<div id="badge">
		<li><strong>Survivalist</strong></li>
		<li><img src="{{ survivalist.icon }}" alt="{{ killer.type }} trophy" /></li>
		<li>You have survived {{ survivalist.requirement }} days!</li>
		
	</div>
	
</div>
{% endblock %}