<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

{% extends 'zombie_search/Base.html' %}

{% block title %}Register{% endblock %}

{% block header %}Register{% endblock %}

{% block body %}
	{% if registered %}
        <strong>thank you for registering!</strong>
    {% else %}
        <form id="user_form" method="post" action="/zombie_search/register/" enctype="multipart/form-data" style="font-size:50%">
			{% csrf_token %}
			{{ user_form.as_p }}
			{{ profile_form.as_p }}
			<input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
{% endblock %}
