{% extends 'zombie_search/Base.html' %}

{% block title %}Register{% endblock %}

{% block header %}Register{% endblock %}

{% block body %}
<br />
	{% if registered %}
        <strong>thank you for registering!</strong>
				<br />
				<a href="/zombie_search/"><button type="button" class="btn btn-default navbar-btn">Home</button></a>
	{% else %}
      <form id="user_form" method="post" action="/zombie_search/register/" enctype="multipart/form-data">
				{% csrf_token %}

				{% for field in user_form.visible_fields %}
					<strong>{{ field.label }}</strong><br />
					<strong><small>{{ field.errors }}</small></strong><br />
					{{ field }}<br />
					<small>{{ field.help_text }}</small><br />
				{% endfor %}

				{% for field in player_form.visible_fields %}
					{{ field.label }}<br />
					{{ field.errors }}<br />
					{{ field }}<br />
				{% endfor %}
				<input class="btn btn-default navbar-btn" type="submit" name="submit" value="Submit"/>
      </form>
		{% endif %}
{% endblock %}
