<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

{% load static %}

<html xmlns="http://www.w3.org/1999/xhtml" lang = "en">

<head>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- Bootstrap -->
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen" />
	<link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet" />
	<link href="{% static 'css/base_style.css' %}" rel="stylesheet" />
	<title>Zombie Search-{% block title %}Zombie Search{% endblock %}</title>
</head>

<body>
<div id="splash">
<div id="dialog" title="Instructions" style="display: none">
<br />
<strong>Welcome to Zombie Search!<br />

Your journey starts when you awake to find that your neighbourhodo has been hit with a full-blown zombie apocalypes...<br /><br /></strong>

You will begin in front of a house. You can then use the buttons on the bottom of the screen to enter that house or move to one of the other houses on the street. Once in a house, you can search the rooms of the house to find food, ammo or new people to join your party...but be careful: you may also find a zombie!<br /><br />

If you find a zombie, you may choose to fight it or run, if you are running low on ammo, you may want to choose not to fight the zombie, but it will still be there ready to attack you of you try to re-enter that house!<br /><br />

On the top of the screen you can see your supplies as well as how many days have passed and how much time is left in this day- at the end of the day you will use one unit of food for each member of your party, and if you cannot feed everyone, some members will leave!<br /><br />

Plan your moves carefully, as each action takes up time within the day! The game ends when you run out of food or all members of your party are killed by zombies!<br /><br />
</p>
</div>

    {% if first_game%}
            <img src="{% static 'img/firstGame.jpg' %}" />
        {% elif existing_game %}
        	<img src="{% static 'img/Splash.jpg' %}" />
    {% else %}
        	<img src="{% static 'img/gameOver.jpg' %}" />
    {% endif %}
	<nav class ="navbar navbar-fixed-top">
	<ul class="nav nav-pills" id="pills">
		<li><a href="{% url 'zombie_search.views.game' %}?action=NEW&roomNumber=0&houseNumber=0"><button type="button" class="btn btn-default navbar-btn">New Game</button></a></li>
		<li><a href="/zombie_search/"><button type="button" class="btn btn-default navbar-btn">Home</button></a></li>
	</ul>
		<ul class="nav nav-pills" id="pills">
            {% if existing_game %}
		    <li><a href="{% url 'zombie_search.views.game'  %}"><button type="button" class="btn btn-default navbar-btn">Load Game</button></a></li>
            {% endif %}
            <li><button id="ingame_about" type="button" class="btn btn-default navbar-btn">Instructions</button></li>
	</ul>

	</nav>
{% if existing_game or first_game %}

{% else %}
<div>
    You managed to survive {{ Day }} and took down {{ Kills }} zombies with you!
</div>
{% endif %}

</div>
</body>

<!-- JQuery -->
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
	<script src="{% static 'js/zombie-jquery.js' %}"></script>
</html>
