	{% block update_state %}
        you are on a street. There are 5 houses on this street. What would you like to do?
        {% if update_state.party > 0 %}
            You've found {{ update_state.party }} new party members !
        {% endif %}
        {% if update_state.ammo > 0 %}
            You've found {{ update_state.ammo }} ammo!
        {% endif %}
        {% if update_state.food > 0 %}
            You've found {{ update_state.food }} food!
        {% endif %}
        {% if update_state.kills > 0 %}
            You've killed {{ update_state.kills }} zombies !
        {% endif %}
    {% endblock %}